# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- none

pool: "default"

variables:
- name: CloudInitContent

steps:

- task: AzureResourceManagerTemplateDeployment@3
  displayName: 'Validate ARM Template Key-vault'
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'Azure subscription 1(1)(24be8910-56d3-4f24-ad46-85f03521f320)'
    subscriptionId: '24be8910-56d3-4f24-ad46-85f03521f320'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'key-vault'
    location: 'Canada Central'
    templateLocation: 'Linked artifact'
    csmFile: '$(Build.SourcesDirectory)\AzureResourceGroup1\template_keyvault.json'
    csmParametersFile: '$(Build.SourcesDirectory)\AzureResourceGroup1\parameters_keyvault.json'
    overrideParameters: '-vaults_AdminMDP_name $(nomKey)'
    deploymentMode: 'Validation'

- task: AzureResourceManagerTemplateDeployment@3
  displayName: 'Deploy ARM Template Key-Vault'
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'Azure subscription 1(1)(24be8910-56d3-4f24-ad46-85f03521f320)'
    subscriptionId: '24be8910-56d3-4f24-ad46-85f03521f320'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'key-vault'
    location: 'Canada Central'
    templateLocation: 'Linked artifact'
    csmFile: '$(Build.SourcesDirectory)\AzureResourceGroup1\template_keyvault.json'
    csmParametersFile: '$(Build.SourcesDirectory)\AzureResourceGroup1\parameters_keyvault.json'
    overrideParameters: '-vaults_AdminMDP_name $(nomKey)'
    deploymentMode: 'Incremental'
- task: PowerShell@2
  displayName: 'Could Init'
  inputs:
    targetType: 'inline'
    script: |
      $CloudContent = Get-Content -Path .\AzureResourceGroup1\Cloud-init.txt -Raw
      Write-Host $CloudContent
      $encodedContent = [Convert]::ToBase64String([Text.Encoding]::UTF8.GetBytes($CloudContent))
      Write-Host $encodedContent
      Write-Host "##vso[task.setvariable variable=CloudInitContent;]$encodedContent"

- script: |
    echo $(CloudInitContent)

- task: AzureKeyVault@2
  displayName: 'Azure key-vault password'
  inputs:
    azureSubscription: 'Azure subscription 1(1)(24be8910-56d3-4f24-ad46-85f03521f320)'
    KeyVaultName: '$(nomKey)'
    SecretsFilter: 'MDP'
    RunAsPreJob: false

- script: | 
      echo New value $(AzureKey.MDP)

- task: AzureResourceManagerTemplateDeployment@3
  displayName: 'Validate ARM Template VM'
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'Azure subscription 1(24be8910-56d3-4f24-ad46-85f03521f320)'
    subscriptionId: '24be8910-56d3-4f24-ad46-85f03521f320'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'projet-azure'
    location: 'Canada Central'
    templateLocation: 'Linked artifact'
    csmFile: '$(Build.SourcesDirectory)\AzureResourceGroup1\template_vmss.json'
    csmParametersFile: '$(Build.SourcesDirectory)\AzureResourceGroup1\parameters_vmss.json'
    overrideParameters: '-customData $(CloudInitContent) -adminPassword $(MDP)'
    deploymentMode: 'Validation'

- task: AzureResourceManagerTemplateDeployment@3
  displayName: 'Deploy ARM Template VM'
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'Azure subscription 1(24be8910-56d3-4f24-ad46-85f03521f320)'
    subscriptionId: '24be8910-56d3-4f24-ad46-85f03521f320'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'projet-azure'
    location: 'Canada Central'
    templateLocation: 'Linked artifact'
    csmFile: '$(Build.SourcesDirectory)\AzureResourceGroup1\template_vmss.json'
    csmParametersFile: '$(Build.SourcesDirectory)\AzureResourceGroup1\parameters_vmss.json'
    overrideParameters: '-customData $(CloudInitContent) -adminPassword $(MDP)'
    deploymentMode: 'Incremental'